@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../image/Login.jfif) no-repeat;
  background-size: cover;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #2196f3;
  margin-bottom: 27px;
  padding: 10px 0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-left: 27px;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #2196f3;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #bee3f7; /*#d4d450*/
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  font-weight: bold;
  border: 2px solid #bee3f7;
  padding: 5px;
  cursor: pointer;
  margin: 12px 0;
  width: 100%;
  background: none;
}

.btn:hover {
  color: #bee3f7;
  background: #040521;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e0c2ba);
}

.btn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.btn span:nth-child(3) {
  bottom: 0px;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #54271b);
}

.btn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: 0.5s;
}

.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #99695c);
}

.btn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: 0.25s;
}

.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #300d06);
}

.btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition-delay: 0.7s;
}
